//color
$clr-secondary: #606060;
$clr-primary: #B2D234;
$clr-white: #fff;
$clr-black: #000;
$clr-grey: #606060;
$clr-blue: #60A0D8;

//police
$font-family: 'Poppins', sans-serif;
$font-size: 18px;

$bp-mobile: 375px;
$bp-ordi: 1920px; 